<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211839429431-vkc4jpdo6b86jrmbmhco5hn4jh97g0qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211839429431-vkc4jpdo6b86jrmbmhco5hn4jh97g0qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDVd5Nz-vpXd53oeOMborTyIXeIN-aVCWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>211839429431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exaple.Authorization</string>
	<key>PROJECT_ID</key>
	<string>authorization-e1f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>authorization-e1f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211839429431:ios:89ee943ac040adfcabc8b2</string>
	<key>DATABASE_URL</key>
	<string>https://authorization-e1f8c.firebaseio.com</string>
</dict>
</plist>